NODE_ENV=development
PORT=3000
FACTORY_COUNT=20
JWT_SECRET="$2y$12$bujCFOS18StFZ5lA4KoWeuDr93rWLnQhzx6SyEEXPUb2J1jN2VyI6"

APP_URL=https://1016-106-214-77-219.ngrok.io
FRONTEND_URL=https://1016-106-214-77-219.ngrok.io
BACKEND_URL=https://1016-106-214-77-219.ngrok.io
ADMIN_URL=http://localhost:3000/admin

DB_CONNECTION=mongodb
DB_PORT=27017
DB_HOST=127.0.0.1
DB_NAME=maidMe
DB_PASSWORD=

DB_SRV=""

REDIS_URL="redis://127.0.0.1:6379"
REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

RESEND_API_KEY=

UNSTRACT_API_KEY=""

UNSTRACT_API_ENDPOINT=""

UNSTRACT_API_BASE_URL=""

# MSG91 Configuration
MSG91_AUTH_KEY=""
MSG91_SENDER_ID="SAVORY"
MSG91_ROUTE="4"
MSG91_FLOW_ID="" # Used for OTP (variable name: var)
MSG91_ACK_FLOW_ID="" # Used for Acknowledgment Link (variable name: link)
